*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
nav{
    background-color: royalblue;
    padding: 20px 60px;
}
.banner{
    height: 450px;
    width: 100%;
    background-color: pink;
}